<h2>Scrum Reports</h2>

<div id='scrum_calendar' class='splitcontentleft'>
	<%= render :partial => 'scrum_calendar' %>
</div>
<div id='scrum_report' class='splitcontentright'>
	<%= render :partial => 'show' %>
</div>